Package: com.amooose.notiftoggle
Name: Notification Center Toggle
Depends: mobilesubstrate, libactivator, cy+os.ios (>= 8.0)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Toggles the Notification Center (aka Cover Sheet)
Maintainer: Dylan (amooose)
Author: Dylan (amooose)
Section: Tweaks
